---
layout: default
title: A-chacon - Freelance web developer.
description: Freelance Web Developer. Specialized in application development with Ruby on Rails framework, cloud computing and more.
permalink: /
lang: en
---
<script type="module" src="assets/js/typewriter.js" ></script>

<div class="flex flex-col md:flex-row items-center justify-center py-16 md:h-screen border-b-2">
  <div class="md:mx-2">
    <img class="object-cover w-full h-full sm:w-80 sm:h-80 sm:rounded-full" src="/assets/images/profile.webp" alt="My profile of freelance web developer" />
  </div>
  <div class="fadeIn mx-4 w-4/5 md:w-2/5 text-center md:text-left text-neutral-500 text-base">
    <h1 class="hidden">Web developer freelance. Hello World, My name is Andres.</h1>
    <div id="app" class="pt-4 text-3xl md:text-6xl text-black"></div>
    <h2 class="md:text-lg pt-4">I am Andres, <strong>freelance web developer</strong>.</h2>
    <p class=" pt-4">
    Specialized in the development of <strong>RESTs APIs with Ruby on Rails</strong>. I have participated in various stages of the application development cycle. <strong>From inception</strong> to deployment in the <strong>cloud</strong>, collaborating in the design, implementation and optimization of solutions. I love facing challenges, learning and solving problems effectively.
    </p>
    <div class="pt-2 flex flex-wrap justify-center md:justify-start">
      {% for tag in site.words %}
      <span class="inline-block pr-2 mr-2 mb-2">#{{ tag }}</span>
      {% endfor %}
    </div>
    <p class="pt-4 hidden md:block">You can contact me through any of these channels:</p>
    {% include channels.html %}
  </div>
</div>

<!-- Section About me  -->
<div class="flex justify-center mt-16 md:mt-24 mb-16 text-neutral-500 style-a">
  <div class="w-11/12 md:max-w-xl text-center md:text-left divide-y "> 
    <div class="py-5">
      <h3 class="text-2xl text-black">More About me</h3>
      <p class=" pt-4">
      I live in Chile. I have been in front of a computer since I was 14 years old, assembling and disassembling things. I like the idea of being able to create, share and learn in a world without borders. And for this I think it is important that knowledge on the internet is for everyone, that our rights, privacy and freedoms are respected, and that there is <a target="_blank" href="https://www.fsf.org/" >free software</a>.
      </p>
      <p class=" pt-4">
      I've been working as a web developer since 2018, mostly for startups. I started with the <a target="_blank" href="https://laravel.com/" >Laravel</a> framework and then moved to <a target="_blank" href="https://rubyonrails.org/">Ruby on Rails</a>. I have done different projects, mostly in API REST format always using best practices, concerned about performance, scalability and code quality. I have been in charge of deploying applications on servers with <a target="_blank" href="https://es.wikipedia.org/wiki/GNU/Linux">GNU/Linux</a> distributions on the <a target="_blank" href="https://aws.amazon.com">Amazon Web Services</a> platform and I have configured one or another continuous deployment with <a target="_blank" href="https://github.com">Github</a> and <a target="_blank" href="https://gitlab.com">Gitlab</a> of small applications.
      </p>
      <p class=" pt-4">
      And I'm not just 0's and 1's. I also like other things like street photography, road biking and spending time connecting with nature.
      </p>
    </div>
  </div>
</div>

<!-- Section About my stack  -->
<div class="flex justify-center mt-16 md:mt-24 mb-16 text-neutral-500">
  <div class="w-11/12 md:max-w-xl text-center md:text-left divide-y "> 
    <div class="py-5">
      <h3 class="text-2xl text-black">About my Stack</h3>
      <p class=" pt-4">
      Ruby on Rails offers numerous advantages for web development. This open source framework, based on the Ruby programming language, has gained great popularity due to its focus on simplicity and productivity. Especially for developing projects in a fast, scalable and secure way.
      </p>
      <p class=" pt-4">
      Working with AWS (Amazon Web Services) offers the advantage of a highly scalable and elastic cloud infrastructure. You can quickly adjust compute, storage and network resources according to your application needs. With automated tools and services, AWS simplifies scalability management, ensuring optimal performance for your application at all times.
      </p>
      <p class=" pt-4">
      The synergy between Ruby on Rails and AWS is an excellent choice for developing web applications. Rails provides an agile development framework, while AWS offers a scalable cloud infrastructure. Together, they provide a reliable and flexible platform for building and scaling web applications efficiently, ensuring optimal performance and an exceptional user experience.
      </p >
      <p class=" pt-4">
      These two tools are an important part of my stack but they are not the only ones. I am constantly developing Python scripts, researching GNU/Linux distributions and learning new technologies. Keeping updated and being aware of the latest trends is essential to provide innovative and efficient solutions.
      </p>
    </div>
  </div>
</div>

<div class="flex justify-center mt-16 md:mt-24 mb-16 text-neutral-500">
  <div class="w-11/12 md:max-w-xl text-left divide-y"> 
    <div class="py-5">
      <h3 class="text-2xl text-black">Recent blog entries.</h3>
      <ul class="list-disc list-inside">
        {% for post in site.posts limit:3 %}
          <li class=" pt-4 "><a class="underline decoration-indigo-500/60" href="{{post.url}}">{{post.title}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
