---
layout: default
permalink: /tags
lang: en
---

<div class="py-16 flex flex-col md:flex-row max-w-fit mx-auto pb-8 gap-8 px-5">
  <div class="break-inside-avoid-column">
    <h1 class="text-2xl xl:text-4xl py-4">Tags</h1>
    <ul class="list-disc list-inside tag-list">
      {% for tag in site.categories %}
      <li class="text-lg md:text-xl py-1"><a href="#{{ tag[0] }}" class="underline md:no-underline hover:underline">#{{ tag[0] }}</a></li>
      {% endfor %}
    </ul>
  </div>

  <div class="break-inside-avoid-column">
    <h2 class="text-2xl xl:text-4xl py-4">Posts by tags.</h2>
    {% for tag in site.categories %}
    <h3 id="{{ tag[0] }}" class="text-xl md:text-2xl py-3 md:pb-4 md:pt-6"># {{ tag[0] }}</h3>
    <ul class="list-disc list-inside ">
      {% for post in tag[1] %}
      <li class="text-slate-500 dark:text-slate-200 text-md md:text-lg py-2"><a href="{{ post.url }}" class="text-lg md:text-xl text-slate-700 dark:text-slate-100 underline md:no-underline hover:underline">{{ post.title }}</a> {{ post.date | date: "%d-%m-%Y" }}</li>
      {% endfor %}
    </ul>
    {% endfor %}
  </div>
</div>

