    <div class="flex justify-center md:justify-start pt-2">
      <a class="pr-3" href="mailto:andres.ch@protonmail.com">
        <img class="h-6" src="/assets/images/email.svg" alt="Email Icon" />
      </a>
      <a class="pr-3" href="https://github.com/a-chacon" target="_blank">
        <img class="h-6" src="/assets/images/github-mark.svg" alt="Github Icon" />
      </a>
      <a class="pr-3" href="https://t.me/a_chacon" target="_blank">
        <img class="h-6" src="/assets/images/telegram.svg" alt="Telegram Icon" />
      </a>
      <a class="pr-3" href="https://stackoverflow.com/users/16847024/andr%c3%a9s" target="_blank">
        <img class="h-6" src="/assets/images/stack-overflow.svg" alt="StackOverflow Icon" />
      </a>
      <a class="pr-3" href="https://discord.com/users/673943171369140252" target="_blank">
        <img class="h-6" src="/assets/images/discord.svg" alt="Discord Icon" />
      </a>
    </div>
