{% feed_meta %}

<script data-host="https://app.microanalytics.io" data-dnt="false" src="https://app.microanalytics.io/js/script.js"
  id="ZwSg9rf6GA" async defer></script>

<style>
  .mini-banner {
    background-color: #FF9200;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .mini-banner p {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
  }

  body {
    margin-top: 60px;
  }
</style>
<div class="mini-banner">
  <p>
    👁️‍🗨️ 
    <a href="https://chaski.a-chacon.com" style="text-decoration: underline;">Try Chaski</a>
    — Feed Reader with no ads, no algorithms, just what you choose to read. 
  </p>
</div>
