<nav class="absolute top-0 left-0 right-0 flex w-full flex-wrap items-center justify-between py-4 text-neutral-500 lg:py-6">
  <div class="flex w-full flex-wrap items-center justify-between px-5">

    <a class="flex" href="/" aria-label="Home page">
      <img src="/assets/images/keyboard-key-a.png" alt="Letra a de un teclado" class="block h-8 w-auto">
      <p class="pl-4 hidden md:block text-lg text-neutral-900">Andres Chacon - <span class="text-base text-neutral-500">Desarrollador</span></p>
    </a>

    <div class="flex divide-x text-black">
      <div><a class="px-4 hover:text-neutral-500" href="/projects">Proyectos</a></div>
      <div><a class="px-4 hover:text-neutral-500" href="/blog">Blog</a></div>
      <div><a class="px-4 hover:text-neutral-500" {% static_href %}href="{{site.url}}/en{{page.permalink}}"{% endstatic_href %}>en</a></div>
    </div>
  </div>
</nav>
