<div class=" text-neutral-500 hover:scale-104 duration-200 hover:-translate-y-1 transition ease-in-out">
  <div class="h-full mb-10 rounded-lg bg-white shadow-lg shadow-indigo-200">
    <img src="{{project.image}}" alt="image" class="object-cover w-full h-40 rounded-t-lg" />
    <div class="px-6 pt-4 flex justify-center">
      {% for tag in include.project.tags %}
      <span class="inline-block px-2 py-1 text-xs mr-2 mb-2">#{{ tag }}</span>
      {% endfor %}
    </div>
      <div class="text-center mx-8 mb-8">
        <h3 class="text-black mb-4 text-lg flex justify-center gap-2 items-center">
          {{ include.project[page.lang].title}}
        {% if include.project.github %}
        <a class="transition hover:scale-110 duration-300" href="{{ include.project.github }}" target="_blank">
          <img class="h-4" src="/assets/images/github-mark.svg" alt="Github Icon" />
        </a>
        {% endif %}
        {% if include.project.web %}
        <a class="transition hover:scale-110 duration-300" href="{{ include.project.web }}" target="_blank">
          <img src="/assets/images/link.png" alt="" class="h-4">
        </a>
        {% endif %}
        </h3>
        <p class="text-body-color mb-7 ">
          {{ include.project[page.lang].description }}
        </p>
      </div>
  </div>
</div>
