<div class="flex justify-between h-8 bg-zinc-700 p-1 rounded-t-md">
  <div class="h-full invert">
    <img src="/assets/images/command-line.png" alt="cmd icon" class="h-full">
  </div>
  <div class="text-white">{{page.title}} - Konsole</div>
  <div class="flex justify-end space-x-4 h-full p-1">
      <div class="h-full invert"><img src="/assets/images/minimize-sign.png" alt="minimize icon" class="h-full"></div>
      <div class="h-full invert"><img src="/assets/images/maximize.png" alt="maximize icon" class="h-full"></div>
      <div class="h-full invert"><img src="/assets/images/cancel.png" alt="close icon" class="h-full"></div>
  </div>
</div>
