<!DOCTYPE html>
<html lang="{{ page.lang | default: "en-US" }}">

<head>
  <!-- General tags -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <meta name="description" content="{{page.description}}">
  <meta name=”robots” content="index, follow">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% I18n_Headers %}
  <!-- Favicon tags -->
  <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
  <!-- Opengraph tags -->
  <meta property="og:title" content="{{ page.title }} - {{ site.title }}" />
  <meta property="twitter:title" content="{{ page.title }} - {{ site.title }}" />
  <meta property="og:url" content="https://a-chacon.com/{{ page.title }}" />
  <meta property="og:image" content="{{ page.image  | absolute_url | default: '/assets/images/mysite.png'| absolute_url }}" />
  <meta property="twitter:image" content="{{ page.image  | absolute_url | default: '/assets/images/mysite.png'| absolute_url }}" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="{{ page.excerpt | default: page.description }}" />
  <meta property="twitter:description" content="{{ page.excerpt | default: page.description }}" />
  <!-- Style tags -->
  <link rel="stylesheet" href="{{ '/assets/css/application.css' | relative_url }}">
  <!-- Plausible  -->
  <script defer data-domain="a-chacon.com" src="https://plausible.a-chacon.com/js/script.js"></script>
  <script src="https://unpkg.com/typewriter-effect@2.19.0/dist/core.js"></script>
</head>

<body class="bg-neutral-50">
  {% if page.lang == "es" %}
    {% include navbar_es.html %}
  {% else %}
    {% include navbar_en.html%}
  {% endif %}
  {{ content }}
</body>

</html>
