---
layout: default
---
<link rel="stylesheet" href="{{ " /assets/css/monokai.css" | relative_url }}">
<div class="flex justify-center pt-16 md:pt-24 pb-16 text-neutral-500">
  <div id="post" class="prose prose-neutral flex flex-col w-11/12 md:max-w-2xl">
    <h1 class="text-center text-3xl md:text-5xl text-black">{{page.title}}</h1>
    <div class="flex justify-center">
      <p class="px-2">{{ page.author }}</p>
      <p>•</p>
      <p class="px-2">{{ page.date | date: "%-d %B %Y" }}</p>
    </div>
    <div class="flex justify-center">
      {% for tag in page.categories %}
      <span class="text-sm px-2"><a href="/tags#{{tag}}">#{{ tag }}</a></span>
      {% endfor %}
    </div>
    <img src="{{page.image}}" alt="{{page.title}}">

    <strong>{{ page.excerpt }}</strong>

    <div class="mx-auto pt-6">
      {% include sharing.html %}
    </div>

    <div class="my-6">
      {{content}}
    </div>

    <div class="mx-auto py-8">
      {% include sharing.html %}
    </div>


    <div class="my-6">
      ¡Hola a todos! 👋 ¿Disfrutaron leyendo el artículo? ¡Me encantaría conocer sus opiniones! 💬 No duden en dejar un
      comentario abajo, ya sea para compartir sus comentarios, preguntas o simplemente saludar. ¡No es necesario
      registrarse, solo compartan algo valioso! 😊
    </div>
    <div class="my-6">
      Hey there! 👋 Enjoyed reading the post? I'd love to hear your thoughts! 💬 Feel free to drop a comment
      below—whether it's feedback, questions, or just saying hi. No need to sign up, just share something valuable! 😊
    </div>

    <div id="embedContainer" style="height: fit-content;" data-identifier="{{ page.url }}"
      data-site-key="80dce74b8e1af5839a6f"></div>
    <script src="https://opina.fly.dev/embed.js"></script>

    <div class="flex justify-center mb-10">
      {% if page.previous.url %}
      <a class="pr-2" href="{{page.previous.url}}">&laquo; {{ page.previous.title }}</a>
      {% endif %}
      {% if page.next.url %}
      <a class="pl-2" href="{{page.next.url}}">{{ page.next.title }} &raquo;</a>
      {% endif %}
    </div>
  </div>
</div>
